/*reset css*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, textarea, p, th, td {
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
a:hover, a:focus, a:active {
    text-decoration: none;
}
ol, ul {
    list-style: none;
}
/*
 end -- reset
*/

body {
    margin-top: 68px;
    background-color: #eee;
    font-family: "FontAwesome", "Arial", "Microsoft YaHei", "宋体", sans-serif;
    font-size: 14px;

}

.post-list-heading {
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #444;
}

.post-list, .reply-list {
    border-bottom: 1px solid #eee;
    padding-bottom: 0px;
}

.reply-body {
    padding-left: 20px;
}

.red {
    color: #FF0000;
}

.panel-body p img, .reply-body img {
    max-width: 100%;
    height: auto;
}

.panel-body {
    border-radius: 8px;
    word-wrap: break-word;
    word-break: normal;
}

.badge-info {
    background-color: #AAB0C6;
    color: white
}

.badge-info a {
    color: white
}

ul.user-list {
    margin-top: 5px
}

ul.user-list li {
    text-align: center;
    margin: 0 8px 10px 0px;
    float: left;
    overflow: hidden;
    font-size: 12pt
}

.setting {
    margin-top: 20px;
    min-height: 300px;
}


.section {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.section img {
    width: 50px;
    height: 50px;
}

.content img, .reply_content img {
    display: block;
    height: auto;
    max-width: 100%
}


/*我的修改 2018.1.23*/

/*顶部导航 选中*/
.nav_selected{
    background-color:#148eef;
}

.posts_list {
    border-bottom: 1px solid #cccccc59;
    padding: 12px 10px 3px 12px;
    padding-bottom: 8px;
}

/* 红框*/
.post_good{
    font-size:12px;
    padding: 1px;
    color: red;
    border: solid red 1px;
    border-radius:4px;
}

/*#置顶 蓝框*/
.post_top{
    font-size:12px;
    padding: 1px;
    color: #4caf50;
    border: solid #4caf50 1px;
    border-radius:4px;
}
/*帖子列表中话题框*/
.topic_small{
    color: #777;
    padding: 2px;
    border: solid #777 1px;
    border-radius:2px;
}
/*话题页 选项 最新 精品*/
.topic_option{
    height: 25px;
    margin-top: 0px;
    border-bottom: 1px solid #ccc;
}
.topic_option a{
    padding-left: 4px;
    padding-right: 4px;
    font-size: 16px;
    display: inline-block;
    padding-bottom: 2px;
}
.comment_div:hover {
}

.posts_list:hover{
    background-color: #eeeeee3b;
}

.main{
    margin: auto;
     width: 75%; 
    height: auto;
}

.main_left{
     width: 68%; 
     float: left; 
     margin-bottom: 50px; 
     background-color: #FEFEFE; 
     border-radius: 4px;
}

.main_right{
    width: 30%;
    float: right;
    padding-left: 18px;
    padding-right: 18px; 
    margin-bottom: 50px; 
    background-color: #FEFEFE;  
    border-radius: 4px;
}

.home_page a {

    font-size: 15px;
    color: #00bcd4e8;
    padding: 7px;
    display: inline-block;
    /*height: 15px;*/
}
.home_page a:hover {
    background-color: #4F5155;
}
#home_nav a:hover {
    text-decoration: #00CC00;
    /*background-color: #cccccc;*/
}
.home_option div:hover {
    border-bottom: #00CC00 2px solid;
}
nodes_left {
    padding: 10px 10px 20px 0px;
    /*border-bottom: #cccccc 1px  dotted;*/
}

.post_add_btn{
    /*float: right;*/
    margin-left: 20px;
    color: #0785d1;
    border:1px solid #0785d1;
    border-radius: 2px;
    padding: 2px 4px 2px 4px;
    font-size: 16px;
}

.post_content {
    /*padding: 0 40px 0 40px;*/
    margin-right: 12px;
    float: left;
    width: 68%;
}
.topic_hot_box {   /*热门话题*/
    border: 1px solid #ccc;
    margin: 5px 10px 5px 10px;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
}
.topic_hot_div{
    background-color: white;
    width: 75%;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 8px;
    padding-bottom:8px;
    border-radius: 4px;
}
.topic_hot_box:hover,.topic_hot_select{
    background-color: #eee;
}

.topic_hot_box span{
    font-size: 14px;
    color: black;
}

.post_title:hover{
    color: #0000FF;
}


/*评论 收藏 删除 等 功能操作链接按钮*/
.function_btn {
    background-color: #009688;
    color: white;
    padding: 2px 5px 2px 5px;
    border-radius: 10%;
    font-size: 15px;
}

.user_info a {
    display: inline-block;
    /*width: 80px  ;*/
    padding: 2px 4px 2px 4px;
    margin: 10px 20px 10px 0px;
    border-radius:8px;
    color: #00a0e9 !important;
    text-align: center;
    line-height: 30px;
}

#nav_user_li div {
     display: none;
 }

.personal_nav{
    /*background-color: #ccc;*/
    padding-left: 16px;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px solid #ccc;
}
.personal_nav a {
    display: inline-block;
    padding: 0 5px 0 5px;
    margin-right: 30px;
    height: 35px;
    color: #2D64B3;
}

.personal_active{
    border-bottom: 2px solid #3b97d7;
    color: black !important;
}

.user_box{
    float: left;
    margin: 6px 10px 6px 10px;
}
.user_box span{
    margin-left: 4px;
}

/*已赞*/
.thumb_up_ed:hover, .thumb_up_ed:active, .thumb_up_ed:link{
    color: red;
}
/*@我 回复*/
.comment_to_me_box{
    line-height: 28px;
    margin: 5px 10px 5px 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cccccc;
}

.topic_selected{
    background-color: #eee;
}
.view_optioned{
    border-bottom: 2px solid #080808;
    color: #080808;
}

.topic_span{
    display: inline-block;
    float: left;
    padding: 1px 5px 2px 5px;
    border: 1px #0785d1 solid;
    border-radius: 2px;
    margin-right: 8px;
    margin-bottom: 8px;
}
.topic_span a:hover, .topic_span:hover{
    color: white;
    background-color: #00a0e9;
}